@model CvoInventarisClient.Models.AccountModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <meta name="description" content="CvoInventaris applicatie" />
</head>
<body>

    <div class="container">

        <form action="~/Login/Index" method="post" class="form-signin">
            <div class="page-header">
                <h1 class="form-signin-heading">CVO inventaris</h1>
            </div>
            @if (!String.IsNullOrWhiteSpace(ViewBag.successLoginMessage))
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Welkom!</strong> @ViewBag.successLoginMessage
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(ViewBag.warningLoginMessage))
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Opgelet!</strong> @ViewBag.warningLoginMessage
                </div>
            }
            <h2 class="form-signin-heading">Log in</h2>
            <label for="Email" class="sr-only">E-mailadres</label>
            <input type="email" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" id="Email" name="Email" class="form-control" placeholder="Email" required autofocus>
            <label for="Wachtwoord" class="sr-only">Wachtwoord</label>
            <input type="password" id="Wachtwoord" name="Wachtwoord" class="form-control" placeholder="Wachtwoord" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember-me"> Onthouden
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            <div class="pager">
                <a href="~/Account/ResetWachtwoord">Wachtwoord vergeten?</a>
            </div>
        </form>

    </div> <!-- /container -->

</body>
</html>
