<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Stylesheet.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>

    <meta name="description" content="CvoInventaris applicatie" />
</head>
<body>
    <div class="container">
        <div class="row">
            @Html.ActionLink("Terug naar overzicht", "Index", "Overzicht", null, new { @class = "btn btn-primary" })
        </div>
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
