@model CvoInventarisClient.Models.LokaalViewModel

@{
    ViewBag.Title = "Lokaal - Aanmaken";
}

<div class="panel panel-primary">
    <div class="panel-heading">Aanmaken</div>
    <div class="container-fluid">
        @using (Html.BeginForm("Create", "Lokaal", new { @class = "form-horizontal" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="lokaalNaam" class="col-sm-2 control-label">Lokaal naam</label>
                    <div class="col-sm-5">
                        <input class="form-control" maxlength="50" type="text" name="lokaalNaam"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="aantalPlaatsen" class="col-sm-2 control-label">Aantal plaatsen</label>
                    <div class="col-sm-5">
                        <input class="form-control" maxlength="50" type="text" name="aantalPlaatsen"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="isComputerLokaal" class="col-sm-2 control-label">Computer lokaal</label>
                    <div class="col-sm-5">
                        <input type="checkbox" name="isComputerLokaal" value="True"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="campussen" class="col-sm-2 control-label">Campus</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="campussen">
                            <option value="">-Selecteer-</option>
                            @foreach (var item in Model.Campussen)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-1">
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default pull-left" })
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary pull-left">Voeg toe</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
