@model CvoInventarisClient.Models.AccountModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Delete";
}

<div class="panel panel-default">
    <div class="panel-heading">Account verwijderen</div>
    <div class="container-fluid">
        @using (Html.BeginForm())
        {

            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Opgelet!</strong> Bent u zerker dat u account <b>@Html.DisplayTextFor(model => model.Email)</b> wilt verwijderen?
            </div>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.IdAccount)
            <div class="form-group">
                <input type="submit" value="Verwijder" class="btn btn-primary" />
            </div>
        }
            <form action="~/Account/Index">
                <button class="btn btn-danger" type="submit">Annuleren</button>
            </form>
    </div>
</div>

