@model IEnumerable<CvoInventarisClient.Models.AccountModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Accountbeheer";
}

<div class="panel panel-primary">
    <div class="panel-heading">Bestaande accounts</div>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="bottom-align-text" href="@Url.Action("Delete", "Account", new { id = item.IdAccount })"><s><span class="glyphicon glyphicon-trash"></span></s></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Nieuw account aanmaken</div>
    @using (Html.BeginForm("Create", "Account"))
            {

        <div class="container-fluid">
            <form role="form">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="emailinp" placeholder="naam@email.be">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" name="passwordinp" placeholder="paswoord">
                </div>

                <button type="submit" class="btn btn-default">Creëer</button>
            </form>
        </div>
    }
</div>