
@{
    ViewBag.Title = "Overzicht";
}

    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12">
            <a href="@Url.Action("Index","Inventaris")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Inventaris</h3>
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Object")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Objecten</h3>
                    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="@Url.Action("Index","Netwerk")">
                <div class="tile main col-sm-1 col-md-4 col-lg-3">
                    <h3 class="title">Netwerken</h3>
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                </div>
            </a>
        </div>

    </div>

