
@{
    ViewBag.Title = "Overzicht";
}
WIP
<div class="col-sm-6 col-md-3">
    <div class="thumbnail tile tile-medium tile-teal">
        <a href="#">
            <h1>Hello</h1>
        </a>
    </div>
</div>
<div class="col-sm-6 col-md-3">
    <div class="thumbnail tile tile-medium">
        <a href="#">
            <h2>
                Tweet
            </h2>
        </a>
    </div>
</div>

