@{ ViewBag.Title = "Home";}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Let op!</strong> Deze applicatie is nog WIP!
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Welkom</h3>
    </div>
    <div class="panel-body">
        <br />
        Gelieve rekening te houden met het feit dat dit slechts de eerste, tijdelijke versie, van de website is.
        <br /><br /><br />
        Om deze reden lijkt het ons dan ook goed om even te overlopen wat momenteel al werkt en wat helaas nog niet.
        <br /><br /><br />
        ACCOUNTBEHEER:
        <br /><br />
        <ul>
            <li>Het beheren van accounts gebeurt onder de knop "Accountbeheer", links in het keuze menu.</li>
            <li>Hier kan u bestaande accounts verwijderen en nieuwe accounts aanmaken.</li>
            <li>Deze account gegevens worden gebruikt om in te loggen op de website.</li>
            <li>Indien een gebruiker zijn/haar wachtwoord vergeten is kan deze het wachtwoord wijzigen door op de link "wachtwoord vergeten?" te klikken op het inlogscherm.</li>
        </ul>
        <br />
        BEHEER:
        <br /><br />
        <ul>
            <li>Het beheren van de database gebeurt onder de knop "Beheer", links in het keuze menu.</li>
            <li>Hier krijgt u een pagina te zien met een aantal tegels welke de verschillende tabellen in de database voorstellen.</li>
            <li>Indien u op een tegel klikt krijgt u de gekozen tabel te zien.</li>
            <li>U kan een nieuwe rij toevoegen aan een tabel door op de blauwe knop "Nieuw" te klikken.</li>
            <li>Enkel voor de tabel "Inventaris" kan u meerdere items in één maal toevoegen.</li>
            <li>U kan één of meerdere rijen verwijderen door de checkbox(en) aan te vinken links in elke rij en vervolgens op de rode knop "Verwijder" te klikken.</li>
            <li>U kan een rij aanpassen door op het "potlood" icoon te klikken links in elke rij.</li>
        </ul>
        <br />
        RAPPORTERING:
        <br /><br />
        <ul>
            <li>Het beheren van rapportering gebeurt onder de knop "Rapportering", links in het keuze menu.</li>
            <li>Helaas werkt rapportering nog niet naar behoren.</li>
            <li>De grote lijnen voor rapportering zijn weldegelijk al uitgewerkt maar hier en daar kunnen er zich nog errors voordoen.</li>
            <li>Om deze reden laten we slechts één tabel (campus) zien in de dropdownlijst van het scherm "Rapportering".</li>
            <li>Rapportering zelf is opgedeeld in verschillende stappen welke zichzelf uitwijzen.</li>
        </ul>
    </div>
</div>