html, body {
    height: 100%;
}

.stretchHorizontal {
    height: 100%;
}

.spacer {
    height: 2em;
    width: 100%;
    background-color: azure;
}

.logoutButton {
    color: red;
    position: absolute;
    bottom: 0;
}

.tile {
    width: 100%;
    height: 20em;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    line-height: 1.5em;
    font-weight: 400;
}

    .tile .title {
        margin-top: 0;
        font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
        line-height: 1.5em;
        font-weight: 300;
    }

    .tile.main {
        background: #337AB7;
        color: #fff;
    }


