@model CvoInventarisClient.Models.VerzekeringViewModel

@{
    ViewBag.Title = "Lokaal - Aanmaken";
}

<div class="col-sm-8">
    <div class="panel panel-primary">
        <div class="panel-heading">Aanmaken</div>
        <div class="container-fluid">
            @using (Html.BeginForm("Create", "Verzekering", new { @class = "form-horizontal" }))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="omschrijving" class="col-sm-2 control-label">Omschrijving</label>
                        <div class="col-sm-10">
                            <input class="form-control" maxlength="50" type="text" name="omschrijving" required />
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px">Voeg toe</button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default pull-right" })
            }
        </div>
    </div>
</div>
